<div class="row">
  <div class="span1 avatar">
    <img src="<%= notif[:avatar] %>" alt="">
  </div>
  <div class="span1 lh-40"><%= notif[:name] %></div>
  <div class="span8">
    <strong><%= notif[:title] %></strong>
    <p><%= notif[:content] %></p>
  </div>
  <div class="span1 pull-right"><%= notif[:created_at] %></div>
  <hr class="full-line">
</div>