<div class="container">
  <div class="row">
    <div class="span12">
      <div class="well">
        <%= render_header 'Dashboard' %>
        <%= render_section_header '通知', '发布新的通知', 'plus' %>
        <div id="annoucement">
          <%= render :partial => "notif", :collection => @notifs %>
          <%= render_view_more '查看全部3条讨论', '/notifs' %>
        </div>

        <div id="file">
          <%= render_section_header '文件', '上传文件', 'plus' %>
          <div class="row">
            <%= render :partial => "file", :collection => @files %>
          </div>
          <%= render_view_more '查看全部1个文件', '/files' %>
        </div>
      </div>
    </div>
  </div>
</div>