<!DOCTYPE html>
<html>
<head>
  <title>Easycourse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-offset="80" data-spy="scroll" data-target=".subnav">

<%= render :partial => 'dashboard/nav' %>

<%= yield %>

</body>
</html>
