<div class="page-header">
  <div class="row">
    <div class="span10">
      <h3><%= section_header %></h3>
    </div>
    <% if action_tip then -%>
      <a class="btn pull-right action-btn <%= options[:btn_classes] %>" href="#"><i class="icon-<%= icon %> <%= options[:icon_classes] %>"></i> <%= action_tip %></a>
    <% end -%>
  </div>
</div>